body{
  font-family: Yantramanav, sans-serif;
}
h1{
  text-align: center;
}
nav{
  height: 5.3em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-radius: 1em;
  overflow: hidden;
}
nav:before{
  content: "";
  position: absolute;
  height: 5.3em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  border-radius: 1em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0em 1.2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0em 1.2em;
}
nav a{
  width: 49.8%;
  float: left;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: center;
  color: #2745f2;
  text-decoration: none;
  display: block;
}
nav #adivision, nav #fullscores{
  border-right-style: solid; 
  border-width: 1px;
  border-color:#2745f2;
}
nav #fullscores, nav #sailors{
  border-bottom-style: solid; 
  border-width: 1px;
  border-color:#2745f2;
}
td{
  vertical-align: middle;
}
#scores{
  width: 100%;
  border-spacing: 0px 0.4em;
}    
#scores .school{
  text-align: left;
}
#scores .mascot{
  text-align: right;
  font-size: small;
  color: gray;
}
#scores .row{
  border-radius: 2em;
  position: relative;
  border-spacing: 0.5em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  height: 4em;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
#scores .row:before{
  content: "";
  position: absolute;
  height: 4em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  border-radius: 2em;
  margin-left: 0.5%;
  margin-right: 0.5%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0em 1.2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0em 1.2em;
}
#scores .hiddenrow{
  border-radius: 2em;
  position: relative;
  border-spacing: 0.5em;
}
#scores .hiddenrow:before{
  content: "";
  position: absolute;
  border-radius: 2em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.racenums td{
  font-size: 0.75em;
}
.penalty{
  color: #f22727;
}
.nonpen{
  color: #29c936;
}
.subtable{
  position: relative;
  table-layout: fixed;
  top: -14px;
  border-radius: 0px 0px 1em 1em;
  border-spacing: 0px;
  width: 94%;
  margin-bottom:-1em;
}
.subtable td{
  text-align: center;
}
.subtable:before{
  content: "";
  position: absolute;
  border-radius: 0px 0px 1em 1em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0.4em 1.2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0.4em 1.2em;
}
#scores td{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#scores .rank{
  padding-left: 1.5em;
  width: 5%;
}
#scores .banner{
  width: 60px;
}
#scores .totalscore{
  padding-right: 1.5em;
  text-align: center;
  width: 5%;
}
.hiddenrow{
  overflow: hidden;
  transition: all 0.12s ease-in-out;
  height:0;

}
.hiddenrow.open{
  transition: all 0.12s ease-in-out;
  height: 6.5em;
}
.hiddenrow.open.AB{
  transition: all 0.12s ease-in-out;
  height: 4.5em;
}
.boo{
  color: #2745f2;
}
#sails{
  padding-top: 1em;
  padding-bottom: 1em;
}

#sails .row{
  border-radius: 2em;
  position: relative;
  border-spacing: 0.5em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  padding-left: 1em;
  padding-right: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 6em;
}
#sails .row:before{
  content: "";
  position: absolute;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  border-radius: 2em;
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 6em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0em 1.2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0em 1.2em;
}
.sailortable{
  position: relative;
  table-layout: fixed;
  border-radius: 0px 0px 1em 1em;
  border-spacing: 0px;
  margin-right: 0;
  width: 100%;
}
.sailtd{
  float: left;
}
.sailtabletd{
  width: 80%;
  padding-left: 0.5em;
}
.divpos{
  text-align: center;
}
.schoolp{
  width: 10%;
}
.notlast{
  border-width: 2px;
  border-bottom-style: solid;
  border-color: #2745f2;
}
